{% extends "base2.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "About | PyScholars" %}{% endif %}{% endblock %}


{% block content %}

	<!-- Body -->
    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>
            {% include 'navbarO.html' %}
				<!-- Page title -->
				<div class="page_top_wrap page_top_title page_top_breadcrumbs sc_pt_st1">
					<div class="content_wrap">
						<div class="breadcrumbs">
							<a class="breadcrumbs_item home" href="index.html">Home</a>
							<span class="breadcrumbs_delimiter"></span>
							<span class="breadcrumbs_item current">About Us</span>
						</div>
						<h1 class="page_title">About Us</h1>
					</div>
				</div>
				<!-- /Page title -->
			<!-- Content without sidebar -->
            <div class="page_content_wrap">
                <div class="content">
                    <article class="post_item post_item_single page">
						<section class="post_content">
							<!-- Info section -->
							<div class="sc_section accent_top bg_tint_light sc_bg1" data-animation="animated fadeInUp normal">
								<div class="sc_section_overlay">
									<div class="sc_section_content">
										<div class="sc_content content_wrap margin_top_2_5em_imp margin_bottom_2_5em_imp">
											<h3 align="center">What is PyScholars?</h3>
											<div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2">
												<div class="column-1_2 sc_column_item sc_column_item_1 sc_info_st1 odd first ">
													<div class="sc_section font_1_25em lh_1_3em">
														<span class=" link_color disp_block  font_3_5em lh_1em"></span>
														<p><font color="black">
															This is an initiative focused on students in the senior high level. Students would be introduced to Python programming in a relaxed and fun environment.
															<br><br>The idea seeks to inspire students to learn the basic understanding of what programming is, and provide them with the basic technical skills to develop themselves.

															
														</font></p>
													</div>
												</div>
												<div class="column-1_2 sc_column_item sc_column_item_2 sc_info_st1 even">
													<div align="" class="post_thumb" data-image="{% static 'images/2.png' %}" data-title="New Image Post">
														<a>
															<img alt="" src="{% static 'images/2.png' %}">
														</a>
													</div>
												</div>
												<div class="sc_section">
                                    <div class="sc_line sc_line_style_solid"></div>
                                    <h3 align="center">Why Teach Students Programming</h3>
									<figure class="sc_image alignleft sc_image_shape_square width_280 height_158">
										<img src="{% static 'images/power.jpg' %}" alt="" />
										
									</figure>
									<font color="black">
									<p class="font_1_25em lh_1_3em">Computer literacy is quite different from learning how to program. Whilst most students may be fairly comfortable with the former, however little can be said about the latter especially in Africa.<br>
									If we agree that education ought to be about developing young minds, there is a lot about programming that helps you learn to think and plan in a logical way.<br>
									</p>
									<br>
									<figure class="sc_image alignright sc_image_shape_square width_280 height_158">
										<img src="http://placehold.it/280x158" alt="" />
										
									</figure>
									<p class="font_1_25em lh_1_3em"> 
									Let’s take computational thinking for instance, this involves taking a complex problem and breaking it down into a series of smaller, more manageable problems (decomposition). Each of these smaller problems can then be looked at individually, considering how similar problems have been solved previously (pattern recognition) and focusing only on the important details, while ignoring irrelevant information (abstraction). Next, simple steps or rules to solve each of the smaller problems can be designed (algorithms).<br>
									While this skill is derived from the IT industry, it is valuable across all aspects of our lives regardless of our career choices. 
									</p>
									</font>
                                </div>
											</div>



										</div>

									</div>
								</div>
							</div>
							<!-- /Info section -->
							



                        </section>
                    </article>
                </div>
            </div>
            <!-- /Content without sidebar -->
			{% include 'footerO.html' %}
        </div>
    </div>
    <!-- /Body -->


{% endblock %}