{% extends "base2.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Contact Us | PyScholars" %}{% endif %}{% endblock %}


{% block content %}

	<!-- Body -->
    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>
            {% include 'navbarO.html' %}
				<!-- Page title -->
				<div class="page_top_wrap page_top_title page_top_breadcrumbs sc_pt_st1">
					<div class="content_wrap">
						<div class="breadcrumbs">
							<a class="breadcrumbs_item home" href="/">Home</a>
							<span class="breadcrumbs_delimiter"></span>
							<span class="breadcrumbs_item current">Contact Us</span>
						</div>
						<h1 class="page_title">Contact Us</h1>
					</div>
				</div>
				<!-- /Page title -->
			<!-- Content without sidebar -->
           

 <!-- Contact Form -->
          <form method="POST">  {% csrf_token %}

            <div>

              <!-- Name Field -->
              <div class="input-field col s12">

                <i class="fa fa-user-o prefix gradient-color transparent-text" aria-hidden="true"></i>
                <input type="text" class="validate" name="name" required>
                <label for="contact-first-name">Your Name*</label>

              </div>

              <!-- Subject Field -->
              <div class="input-field col s12 m-t-1">

                <i class="fa fa-comment-o prefix gradient-color transparent-text" aria-hidden="true"></i>
                <input  type="text" class="validate" name="subject" required autocomplete="subject">
                <label data-error="Invalid Subject">Subject*</label>

              </div>

              <!-- Email Field -->
              <div class="input-field col s12 m-t-1">

                <i class="fa fa-paper-plane-o prefix gradient-color transparent-text" aria-hidden="true"></i>
                <input  type="email" class="validate" name="email" required autocomplete="email">
                <label data-error="Invalid Email">Email*</label>

              </div>

              <!-- Message Field -->
              <div class="input-field col s12 m-t-3">

                <i class="fa fa-envelope-o prefix gradient-color transparent-text" aria-hidden="true"></i>
                <textarea class="materialize-textarea validate" minlength="20" name="message"
                          required></textarea>
                <label data-error="Minimum Length is 20 Characters">Message*</label>

              </div>

              <!-- Name Field -->
              <div class="input-field col s12">
                <input disabled="" required data-callback="enableBtn">{{ form.captcha|as_crispy_field }}</input>
              </div>

              <!-- Form Alert Message -->
              <div class="col s12 alert-message" id="contact-alert-message"></div>

              <!-- Submit Button -->
              <div class="col s12">

                <button class="waves-effect m-t-2 waves-light z-depth-3 button-main gradient-color"  id="contact_us" type="submit"><span type="submit">Send</span>
                  <i class="fa fa-envelope"> </i>
                </button>

              </div>

            </div>

          </form>



           
            <!-- /Content without sidebar -->
			{% include 'footerO.html' %}
        </div>
    </div>
    <!-- /Body -->


{% endblock %}